/* =========================
   Layout / Containers
========================= */

// layout/containers

.site-container {
  margin: 0 auto;
  padding: 0 var(--spacing);
}

.header-container{
  margin: 0 1rem;
  padding: 0 var(--spacing);
}


.footer-container {
  margin: 0 auto;
  padding: 0 var(--spacing);
}
